<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->

<div class="flex min-h-full flex-col">
  <!-- 3 column wrapper -->
  <div class="mx-auto w-full grow lg:flex xl:px-2 -ml-4">
    <!-- Left sidebar & main wrapper -->
    <div class="w-80 xl:flex h-screen"><%= render partial: "member/profile", locals: { member: @member } %></div>

    <div class="flex-1">
      <!-- Main area -->
      <%= render partial: "member/nav", locals: { member: @member } %>
      <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col w-full" class="px-4 py-2">
                Title
              </th>
              <th scope="col" class="px-4 py-2">
                Submitted By
              </th>
              <th scope="col" class="px-4 py-2">
                Created At
              </th>
              <th scope="col" class="px-4 py-2">
                Status
              </th>
            </tr>
          </thead>
          <tbody><%= render @feedbacks %></tbody>
        </table>
      </div>
    </div>

    <div class="shrink-0 border-t border-gray-200 px-4 py-6 sm:px-6 lg:w-80 lg:border-l lg:border-t-0 lg:pr-8 xl:pr-6">
      <!-- Right column area -->
      <% if current_user.admin_or_recruiter_admin? %>
        <div>
          <h5 class="mr-3 font-semibold dark:text-white">Submit New Feedback</h5>

          <p class="text-gray-500 dark:text-gray-400 text-sm mb-4">Submit a new feedback which can help your team members.</p>
          <a href="<%= new_member_feedback_path(@member) %>" class="btn-primary">Submit Feedback</a>
        </div>
      <% end %>
    </div>
  </div>
</div>
