<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->
<div class="flex min-h-full flex-col">
  <!-- 3 column wrapper -->
  <div class="mx-auto w-full max-w-screen-2xl grow lg:flex xl:px-2 -ml-4">
    <!-- Left sidebar & main wrapper -->
    <div class="w-80 xl:flex">
      <%= render partial: "member/profile", locals: { member: @member } %>
    </div>
    <div class="flex-1">
      <!-- Main area -->
      <%= render partial: "member/nav", locals: { member: @member } %>
      <div class="px-0 lg:px-6 py-6">
        <ol class="relative border-s border-gray-200 dark:border-gray-700">
          <% unless @events.nil? %>
            <% @events.each do |event| %>
              <%= render partial: "member/timeline/activity", locals: { event: event } %>
            <% end %>
          <% end %>
        </ol>
      </div>
    </div>
    <div class="shrink-0 border-t border-gray-200 px-4 py-6 sm:px-6 lg:w-80 lg:border-l lg:border-t-0 lg:pr-8 xl:pr-6">
      <!-- Right column area -->
    </div>
  </div>
</div>
