<p>Dear <%= @candidate.name %>,</p>
<p>Your resume has been shortlisted by Crownstack recruitment team. Please find the detail about the company below.</p>
<p><b>About Crownstack:</b></p>
<p>Crownstack is a digital technology firm providing Digital Transformation and Product Engineering services to various startups, consumer internet and large enterprises across the globe. </p>

<p>We are looking for passionate engineers, Project managers and technical leads in various departments who have an insatiable desire to grow and make an impact. More information about us can be found on -</p>

<span>Website - https://www.crownstack.com</span><br/>
<span>About us  - https://www.crownstack.com/about</span><br/>
<span>Our Work - https://www.crownstack.com/work</span><br/>
<span>Technologies - https://www.crownstack.com/technologies</span><br/>
<span>Our Process - https://blog.crownstack.com/tags/process</span><br/>

<p><b>Open Positions: </b>We have various openings for which we are looking for passionate people. Please head towards our career page for more detailed information. </p>
https://www.crownstack.com/careers#openings


<p>Our recruitment team will call you in the next couple of days. If the opportunity sounds interesting to you please let us know, if not please also send us a reply anyways. </p>


<p>Thanks.</p>
