<p>Dear <%= @candidate.name %>,</p>
<p>Thanks for show interest in working with Crownstack.  </p>
<p><b>About Crownstack:</b></p>
<p>Crownstack is a digital technology firm providing Digital Transformation and Product Engineering services to various startups, consumer internet and large enterprises across the globe. </p>
<p>Here is Job Description for your consideration </p>
<%= link_to @candidate.opening.title, show_public_openings_url(@candidate.opening) %>
<p>Thanks</p>