<p>Dear <%= @candidate.name %>,</p>

<p>Thanks for reaching out to us, we really appreciate that and we are grateful for your interest in working with us.</p>

<p>Unfortunately, your applicaton is not matching the job criteria at this point. Therefore we are not moving ahead with your application. We have saved your profile for future reference and if the need arises in future, we will definitely contact you again.</p>

<p>We wish you all the best for your plans and we hope that our paths will cross again in future. Wishing you a bright future ahead.</p>

<p>All the best.</p>

<p><b>Important:</b> We are no one to reject you, we just do skill matching tests. If you have any feedback for us you can send us on below link. We would appreciate that.</p>

https://www.crownstack.com/feedback

<p>Thanks</p>
