<p>Dear <%= @candidate.name %>,</p>
<p>We are grateful for your interest in working with us. </p>
<p>Unfortunately, we have recently filled this position and we are no longer accepting more applications for this role. Therefore we will not be moving ahead with your application at this time. We have saved your details in our database and we will be in touch again if the position opens again.</p>
<p>We wish you all the best for your plans and we hope that our paths will cross again in future. Wishing you a bright future ahead.  </p>
<p>All the best. </p>
<p><b>Important:</b> If you have any feedback for us you can send us on below link. We would appreciate that.</p>
https://www.crownstack.com/feedback
<p>Thanks</p>