<p>Dear <%= @candidate.name %>,</p>

<p>Thanks for taking out the time for the interview, we really appreciate that and we are grateful for your interest in working with us.</p>

<p>Unfortunately, you did not make it to the shortlisted candidates list this time and therefore we will not be moving ahead for further rounds of interviews.</p>

<p>We wish you all the best for your plans and we hope that our paths will cross again in future. Wishing you a bright future ahead.</p>

<p>All the best.</p>

<p><b>Important:</b> We are no one to reject you, we just do skill matching tests. If you have any feedback for us you can send us on below link. We would appreciate that.</p>

https://www.crownstack.com/feedback

<p>Thanks</p>
