<p>Dear <%= @candidate.name %>,</p>
<p>We are grateful for your interest in working with us. </p>
<p>Could you please send us your resume in PDF format so that we can process your application further. You can reply to this email with your resume attached.</p>
<p>Thanks</p>