<tr class="bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
  <th scope="row" class="flex items-center px-4 py-2 text-gray-900 whitespace-nowrap dark:text-white w-full">
    <div class="w-full">
      <div class="text-sm font-semibold"><%= campaign.name %></div>
    </div>
  </th>
  <td class="px-4 py-2">
    <%= display_date(campaign.start_date) %> - <%= display_date(campaign.end_date) %>
  </td>
  <td class="px-4 py-2">
    <%= campaign.owner.name %>
  </td>
  <td class="px-4 py-2">
    <div class="flex items-center">
      <% if campaign.active? %>
        <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div>
        Active
      </div>
    <% else %>
      <div class="h-2.5 w-2.5 rounded-full bg-red-500 me-2"></div>
      Inactive
    <% end %>
  </td>
</tr>
