<% @candidates.each do |candidate| %>
  <a href="<%= candidate_timeline_path(candidate) %>">
    <li role="option" class="border-b border-gray-200 block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900">
      <div class="flex-1 min-w-0">
        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
          <%= candidate.name %>
        </p>
        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
          <%= candidate.email %>
        </p>
        <span class="bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center px-2 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800"><%= candidate.bucket.titleize %></span>
      </div>
    </li>
  </a>
<% end %>
