<%= content_tag :tr, dom_id(email) do %>
  <th scope="row" class="flex items-center px-4 py-2 text-gray-900 whitespace-nowrap dark:text-white">
    <div>
      <div class="text-sm font-semibold"><%= email.kind.humanize.titleize %></div>
    </div>
  </th>
  <td class="px-4 py-2"><%= email.user.name %></td>
  <td class="px-4 py-2"><%= display_created_at_with_time(email) %></td>
  <td class="px-4 py-2">
    <div class="flex items-center"></div>
  </td>
<% end %>
