<div class="flex flex-col pt-5 pb-4 border-r border-gray-200">
  <div class="flex flex-col flex-1 w-64 h-0 overflow-y-auto">
    <div class="relative inline-block px-3 text-left">
      <nav class="px-3">
        <div>
          <h3 class="text-xs font-semibold tracking-wider text-gray-500 uppercase" id="teams-headline">
            Filter Candidates
          </h3>
          <%= form_with url: report_candidates_path, method: :get do |form| %>
            <main class="max-w-lg pt-6 pb-12 mx-auto space-y-4 lg:pb-16">
              <div>
                <label for="role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Role
                </label>
                <%= form.collection_select(:role_id, @roles, :id, :title, { :prompt => "Select Primary Skill" }, :class => "form-text-field", :required => true) %>
              </div>
              <div class="flex justify-end mt-6">
                <%= link_to "Reset", report_candidates_path, class: "btn-secondary mr-2" %>
                <%= form.submit "Search", class: "btn-primary" %>
              </div>
            </main>
          <% end %>
        </div>
      </nav>
    </div>
  </div>
</div>
