<p>Dear <%= @owner.name %>,</p>
<p>Candidate <%= @candidate.name %> has been moved to <%= @candidate.bucket.titleize%> bucket. </p>
<p>Please click on link below to see candidate profile </p>
<%= link_to @candidate.name, candidate_timeline_url(@candidate) %>
<p>Thanks</p>