<p>Hello <%= @user.name %>,</p>

<p>Please ensure your booking calendar is up to date this week so that recruiters can schedule interviews.</p>

<% if @user.booking_url.present? %>
<%= link_to "Go to My Booking Calendar", @user.booking_url %>
<% end %>

<p>Thanks</p>
