<tr class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
  <th scope="row" class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <div class="flex items-center hover:underline">
      <a href="<%= candidate_timeline_path(candidate)%>">
        Jese Leos
      </a>
    </div>
  </th>
  <td class="px-4 py-2">
    <%= candidate.email %>
  </td>
  <td class="px-4 py-2">
    <%= candidate.phone %>
  </td>
  <td class="px-4 py-2">
    React Developer
  </td>
  <td class="px-4 py-2">
    Senior React Developer
  </td>
  <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <span class="bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800">
      New Candidate
    </span>              </td>
  <td class="px-4 py-2">Aashish Dhawan</td>
  <td class="px-4 py-2">20 Nov 2022</td>
</tr>
