<section class="bg-gray-50 dark:bg-gray-900 py-3 sm:py-5 min-h-screen">
  <div class="px-4 mx-auto max-w-screen-2xl lg:px-8">
    <div class="relative overflow-hidden bg-white shadow-md dark:bg-gray-800 sm:rounded-sm">
      <div class="divide-y dark:divide-gray-700">
        <div class="flex-row items-center justify-between p-4 space-y-3 sm:flex sm:space-y-0 sm:space-x-4">
          <div>
            <h1 class="mr-3 text-lg font-semibold dark:text-white">Leads</h1>
            <p class="text-gray-500 dark:text-gray-400 text-sm">Following <span class="font-bold"><%= @candidates.count %></span> leads were received from the website.</p>
          </div>
          <div class="flex items-center space-x-4">
            <%= button_to "Archive Rejected Candidates", leads_candidates_path ,  class: "btn-secondary", data: {
                                 controller: "confirmation",
                                 "confirmation-message-value": "Are you sure you want to archive rejected candidates and refresh data again? All candidates with status 'Rejected in Screening' will be archived. If you wish to move anyone to Icebox, please do so before proceeding.",
                                 action: "confirmation#confirm",
                               } %>
            <a type="button" href="/candidates/new" class="btn-primary">Add new candidate</a>
          </div>
        </div>
      </div>

      <div class="overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-4 py-3">Name</th>
              <th scope="col" class="px-4 py-3">Job Association</th>
              <th scope="col" class="px-4 py-3 whitespace-nowrap">Owner</th>
              <th scope="col" class="px-4 py-3 whitespace-nowrap">Added By</th>
              <th scope="col" class="px-4 py-3 whitespace-nowrap">Added On</th>
              <th scope="col" class="px-4 py-3 whitespace-nowrap">Duration</th>
              <th scope="col" class="px-4 py-3 whitespace-nowrap">Last known status</th>
            </tr>
          </thead>
          <tbody><%= render partial: "lead", collection: @candidates, as: :candidate %></tbody>
        </table>
      </div>

      <div class="flex justify-end mt-2 mb-6 mr-2"><%== render partial: "shared/paginator", locals: { pagy: @pagy } %></div>
    </div>
  </div>
</section>
