<div id="openings" class="mx-auto max-w-screen-xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-screen-2xl">
  <div class="mx-auto max-w-screen-md text-center"> <a href="#openings">
      <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white">Open Positions</h2>
    </a>
    <p class="mb-8 text-gray-800 dark:text-gray-400 sm:text-xl md:text-lg lg:mb-16">Check all of our current open positions. We are looking for folks who can raise the bar.</p>
  </div>
  <!-- Grid -->
  <div class="grid gap-4 sm:grid-cols-2 sm:gap-6 md:grid-cols-3 xl:grid-cols-4">
    <% @openings.each do |opening|%>
      <a class="group flex flex-col rounded-xl border bg-white shadow-sm transition hover:shadow-md dark:border-gray-800 dark:bg-slate-900" href="<%= "https://recruit.quicklabs.in/public/openings/" + opening.first.to_s %>" target="_blank">
        <div class="p-4 md:p-5">
          <div class="flex items-center justify-between">
            <div>
              <h3 class="font-semibold text-gray-800 group-hover:text-gray-600 dark:text-gray-200 dark:group-hover:text-gray-400"><%= opening.second %></h3>
              <p class="text-sm text-gray-500">Full Time, Noida Location</p>
            </div>
            <div class="pl-3"> <svg class="h-3.5 w-3.5 text-gray-500" width="16" height="16" viewBox="0 0 16 16" fill="none"> <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path> </svg> </div>
          </div>
        </div>
      </a>
    <% end %>
  </div>
  <!-- End Grid --> </div>