<div class="py-8 px-4 mx-auto max-w-4xl lg:py-8 text-sm">
  <p class="text-sm font-semibold leading-7 text-indigo-600">JOB DESCRIPTION</p>
  <h2 class="py-4 text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl"><%= @opening.title %></h2>
  <div class="mb-4"><strong>Company Overview:</strong></div>
  <p class="text-sm">  Crownstack is a proven Digital Transformation Service provider mostly serving the US market.  Our approach to work is proactive, collaborative, and committed. We believe in design-led engineering to build digital experiences for mobile, web and other platforms. We leverage agile development processes to deliver work in successive sprints.</p>
  <p class="text-sm mt-4 mb-4">As a part of our latest transformation, we are searching for experienced Developers to join our rapidly growing team of 60+ members in Noida locations. </p>
  <div class="text-sm">
    <%= @opening.description %>
  </div>
  <p class="text-sm font-bold italic mt-4">We are an equal opportunity employer that values diversity at all levels. All qualified applicants will receive consideration for employment without regard to race, color, religion, gender, national origin, age, sexual orientation, gender identity or  disability.
  </p>
</div>
