<div data-controller="candidate" id="lead<%= dom_id(candidate) %>">
  <% if candidate.leads?%>
    <div>
      <div class="flex items-center">
        <dt class="font-semibold text-sm leading-none text-gray-900 dark:text-white">Quick Actions</dt>
      </div>
      <dd class="mb-4 sm:mb-5" data-candidate-target="menu">
        <div class="flex items-center mt-2 mb-4">
          <%= button_to "Reject & Icebox Candidate", candidate_reject_and_icebox_path(@candidate), method: :patch, class: "font-medium text-red-600 dark:text-red-500 hover:underline text-sm"%>
        </div>
      </dd>
    </div>
  <% end %>
</div>