<div data-controller="candidate" id="lead<%= dom_id(candidate) %>">
  <% if current_user.admin? %>
    <% if candidate.leads? or candidate.hot? %>
      <div>
        <div class="flex items-center">
          <dt class="font-semibold text-sm leading-none text-gray-900 dark:text-white">Quick Actions</dt>
        </div>
        <dd class="mb-4 sm:mb-5" >
          <div class="flex items-center mt-2 mb-4">
            <%= button_to "Reject & Icebox Candidate", candidate_reject_and_icebox_path(@candidate), method: :patch, class: "font-medium text-red-600 dark:text-red-500 hover:underline text-sm"%>
          </div>
        </dd>
      </div>
      <div>
        <div class="flex items-center">
          <dt class="font-semibold text-sm leading-none text-gray-900 dark:text-white mb-2">Reward To Recruiter</dt>
        </div>
        <dd class="mb-4 sm:mb-5" >
          <% User.recruiters.each do |recruiter| %>
            <div class="flex items-center">
              <%= button_to "Reward Candidate to #{recruiter.name}", candidate_reward_to_recruiter_path(recruiter_id: recruiter.id), method: :patch, class: "font-medium text-indigo-600 dark:text-red-500 hover:underline text-sm"%>
            </div>
          <% end %>
        </dd>
      </div>
    <% end %>
  <% end %>
</div>