<div data-controller="candidate" id="recycle_<%= dom_id(candidate) %>">
  <% if candidate.being_recycled? %>
    <div>
      <div class="flex items-center">
        <dt class="font-semibold text-sm leading-none text-gray-900 dark:text-white">Recycle</dt>
      </div>
      <dd class="mb-4 sm:mb-5" data-candidate-target="menu">
        <div class="flex items-center mt-2 mb-4">
          <% if candidate.recycled? %>
            <input data-action="click->candidate#toggle_recycle" data-candidate-candidate-param="<%= candidate.id %>" id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" checked>
          <% else %>
            <input data-action="click->candidate#toggle_recycle" data-candidate-candidate-param="<%= candidate.id %>"  id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <% end %>
          <label for="default-checkbox" class="ms-2 text-sm  text-gray-900 dark:text-gray-300">Mark as  recycled</label>
        </div>
      </dd>
    </div>
  <% end %>
</div>