<section class="bg-gray-50 dark:bg-gray-900 py-3 sm:py-5 min-h-screen">
  <div class="mx-auto max-w-screen-2xl lg:px-8">
    <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
      <div class="border-b dark:border-gray-700">
        <div class=" divide-y dark:divide-gray-700">
          <div class="flex-row items-center justify-between p-4 space-y-3 sm:flex sm:space-y-0 sm:space-x-4">
            <div>
              <h1 class="mr-3 text-lg font-semibold dark:text-white">Campaigns</h1>
              <p class="text-gray-500 dark:text-gray-400 text-sm">Manage all your campaigns or create new one.</p>
            </div>
            <a type="button" href="/campaigns/new"
                class="btn-primary">
              Add new campaign
            </a>
          </div>
        </div>
      </div>
      <div class="overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-4 py-3">Task</th>
              <th scope="col" class="px-4 py-3">Status</th>
              <th scope="col" class="px-4 py-3">Users</th>
              <th scope="col" class="px-4 py-3 min-w-[14rem]">Progress</th>
              <th scope="col" class="px-4 py-3">Preview</th>
              <th scope="col" class="px-4 py-3">Time Tracking</th>
              <th scope="col" class="px-4 py-3">Due Date</th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
              <th scope="row" class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">Upload feed and Reels in Instagram</th>
              <td class="px-4 py-2 whitespace-nowrap">
                <span class="bg-primary-100 text-primary-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-primary-900 dark:text-primary-300">In progress</span>
              </td>
              <td class="px-4 py-2 whitespace-nowrap">
                <div class="flex -space-x-4 w-28">
                  <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/avatar-10.png" alt="" class="w-10 h-10 flex-shrink-0 border-2 border-white rounded-full dark:border-gray-800">
                  <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/avatar-1.png" alt="" class="w-10 h-10 flex-shrink-0 border-2 border-white rounded-full dark:border-gray-800">
                  <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/avatar-3.png" alt="" class="w-10 h-10 flex-shrink-0 border-2 border-white rounded-full dark:border-gray-800">
                  <a href="#" class="flex-shrink-0 flex items-center justify-center w-10 h-10 text-xs font-medium text-white bg-gray-900 dark:bg-gray-700 border-2 border-white rounded-full hover:bg-gray-600 dark:border-gray-800">+5</a>
                </div>
              </td>
              <td class="px-4 py-2 font-medium whitespace-nowrap">
                <div class="flex justify-end mb-1">
                  <span class="text-xs font-medium text-gray-500 dark:text-gray-400">75%</span>
                </div>
                <div class="w-full bg-gray-200 rounded-full h-1.5 dark:bg-gray-700">
                  <div class="bg-primary-600 h-1.5 rounded-full" style="width: 75%"></div>
                </div>
              </td>
              <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <a href="#" class="font-medium text-primary-600 dark:text-primary-500 hover:underline inline-flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                    <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
                  </svg>
                  Website
                </a>
              </td>
              <td class="px-4 py-2 text-gray-900 whitespace-nowrap dark:text-white">
                <div class="px-2 py-1 border dark:border-gray-600 bg-white dark:bg-gray-700 rounded-lg text-xs font-medium inline-flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" class="h-4 w-4 mr-1 text-gray-400" viewbox="0 0 20 20">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" />
                  </svg>
                  <span class="text-green-500">6:47</span>
                  /8:00
                  <button class="bg-orange-500 hover:bg-orange-700 text-white p-1 rounded-md ml-3">
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="w-4 h-4" aria-hidden="true">
                      <path fill-rule="evenodd" d="M6.75 5.25a.75.75 0 01.75-.75H9a.75.75 0 01.75.75v13.5a.75.75 0 01-.75.75H7.5a.75.75 0 01-.75-.75V5.25zm7.5 0A.75.75 0 0115 4.5h1.5a.75.75 0 01.75.75v13.5a.75.75 0 01-.75.75H15a.75.75 0 01-.75-.75V5.25z" clip-rule="evenodd" />
                    </svg>
                  </button>
                </div>
              </td>
              <td class="px-4 py-2 whitespace-nowrap font-medium text-gray-900 dark:text-white text-xs">23 Nov 2022</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
