<div class="border-b bg-gray-50 border-gray-200 py-4 lg:pl-8 w-full xl:shrink-0 xl:border-b-0 xl:border-r xl:pl-6">
  <!-- Left column area -->
  <!-- drawer component -->
  <div id="readUserDrawerAdvanced" class="pr-4 overflow-y-auto h-screen bg-gray-50  dark:bg-gray-800">
    <div class="flex items-center mb-4 sm:mb-5">
      <div>
        <h4 id="drawer-label" class="mb-1 text-lg font-semibold leading-none text-gray-900  dark:text-white"><%= opening.title %></h4>
      </div>
    </div>
  </div>
</div>
