  <main class="pb-8">
  <div class="px-4 sm:px-6">
    <!-- Main 2 column grid -->
    <div class="grid items-start grid-cols-1 gap-2 pl-40 pr-40 lg:grid-cols-2 lg:gap-2">
      <!-- Left column -->
      <div class="grid grid-cols-1 gap-4 lg:col-span-1">
        <div class="max-w-2xl mx-auto mt-8 mb-8">
          <h3 class="px-3 text-xs font-bold tracking-wider text-gray-800 uppercase" id="candidate-reports">
            Candidates Reports
          </h3>
          <div class="mt-1 space-y-1" aria-labelledby="projects-headline">
            <a href="<%= report_candidates_path  %>" class="flex items-center px-3 py-1 text-sm text-gray-600 rounded-md group hover:text-gray-900 hover:bg-gray-50">
              <span class="truncate">
                Filter Candidates
              </span>
            </a>
            <a href="<%= report_new_candidates_path  %>" class="flex items-center px-3 py-1 text-sm text-gray-600 rounded-md group hover:text-gray-900 hover:bg-gray-50">
              <span class="truncate">
                New Candidates Report
              </span>
            </a>
            <a href="<%= report_update_candidates_path  %>" class="flex items-center px-3 py-1 text-sm text-gray-600 rounded-md group hover:text-gray-900 hover:bg-gray-50">
              <span class="truncate">
                Updated Candidates Report
              </span>
            </a>
          </div>
        </div>
      </div>
      <!-- Left column -->
      <div class="grid grid-cols-1 gap-4 lg:col-span-1">
        <div class="max-w-2xl mx-auto mt-8 mb-8">
        </div>
      </div>
    </div>
  </div>
</main>
