<section class="bg-white dark:bg-gray-900">
  <div class="py-4 px-4 mx-auto max-w-2xl lg:py-4 mb-16">
    <h2 class="mb-4 text-2xl font-bold text-gray-900 dark:text-white mt-4">Update Information</h2>

    <% if current_user.admin_or_recruiter_admin? %>
      <%= render "members/forms/edit_admin", member: @user %>
    <% else %>
      <%= render "members/forms/edit_member", member: @user %>
    <% end %>
  </div>
</section>
