<section class="bg-gray-50 dark:bg-gray-900 py-3 sm:py-5 min-h-screen">
  <div class="px-4 mx-auto max-w-screen-2xl lg:px-8">
    <div class="relative overflow-hidden bg-white shadow-md dark:bg-gray-800 sm:rounded-xs">
      <div class="divide-y dark:divide-gray-700">
        <div class="flex-row items-center justify-between p-4 space-y-3 sm:flex sm:space-y-0 sm:space-x-4">
          <div>
            <h1 class="mr-3 text-lg font-semibold dark:text-white">Recruitment Team</h1>
            <p class="text-gray-500 dark:text-gray-400 text-sm">Manage all your existing team members or add a new one.</p>
          </div>

          <div class="flex items-center space-x-2">
            <a
              type="button"
              target="_blank"
              href="/public/team"
              class="btn-secondary"
            >
              Show Public Page
            </a>

            <a type="button" href="/members/new" class="btn-primary"> Add new member </a>
          </div>
        </div>
      </div>

      <div class="overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-4 py-3">User</th>
              <th scope="col" class="px-4 py-3">User Role</th>
              <th scope="col" class="px-4 py-3">Position</th>
              <th scope="col" class="px-4 py-3">Email</th>
              <th scope="col" class="px-4 py-3">Phone</th>
              <th scope="col" class="px-4 py-3">Status</th>
              <th scope="col" class="px-4 py-3 whitespace-nowrap">Last Login</th>
              <th scope="col" class="px-4 py-3 whitespace-nowrap">Added On</th>
            </tr>
          </thead>

          <tbody><%= render partial: "member", collection: @members, as: :member %></tbody>
        </table>
      </div>
    </div>
  </div>
</section>
